h1 {
  font-family: Roboto;
  text-align: center;
  border-bottom: 1px solid #dedede;
  margin-top: 64px;
  padding-bottom: 64px;
}

div.header {
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}