div.app-root {
  position: relative;
  padding-bottom: 128px;
  background-color: #f7f7f7;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 64px;
}

.footer span {
  margin: 8px;
}

a.source-link {
  color: #fafafa;
  text-decoration: none;
  i {
    margin-right: 16px;
  }
}

span.github-btn {
  margin-left: 16px;
}
